th,
td {

    font-size: 20px;

}

p {


    font-size: 20px;
}

p.booking {
    font-size: 16px;

}

div.atkbook {
    background-color: white;
    border-radius: 20px;
    width: 600px;
    border: none;
    padding: 50px;
    padding-top: 25px;

}

/* for backgourd gardin */
body {
    height: 1200px;
    background-color: rgb(255, 255, 255);
    /* For browsers that do not support gradients */
    /* background-image: linear-gradient(to bottom right, #ff63b9, #fed1c7); */
    background-image: linear-gradient(to bottom right,  #C6D4EB , #B1BAFC );
}
div.p3css {
    background-color: #ffffff6e;
    border-radius: 20px;
    border: none;
    padding: 50px;
    padding-top: 25px;
}

div.clo_7_css {
    background-color: #ffffff6e;
    border-radius: 20px;
    border: none;
    padding: 50px;
    padding-top: 25px;
}